// VARIABLES

// Breakpoints

$big-phone-width: 480px;
$tablet-width: 600px;
$desktop-width: 1000px;

$container-width: 1120px;

// Structure

$base__space-unit: 1.5rem;
$base__border: 1px solid #e1e1e1;
$base__border-dashed: 1px dashed #c8c8c8;

// Colors

$color__brand-green: #248A83;
$color__brand-purple: #2f1339;
$color__brand-orange: #d99054;
$color__brand-yellow: #f0e4d1;

$color__brand-light-grey: #a1a1a1;
$color__brand-med-grey: #808080;

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: $color__brand-green;
$color__link-hover: $color__brand-purple;

// Typography

$font__main: "Merriweather Web", serif;
$font__alt: "Novecento Sans Web", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;
